<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Total number of request</p>
                        <h3 class="card-title">49
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Cost Approved</p>
                        <h3 class="card-title">34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Request Pending</p>
                        <h3 class="card-title">15</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title ">List of On Hold requests</h4>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                          <th>
                              ID
                          </th>
                          <th>
                              Request Name
                          </th>
                          <th>
                              Approver Name 
                          </th>
                          <th>
                              Date
                          </th>
                          <th>
                              SLA Duration
                          </th>
                          <th>
                              Service Charge (SAR)
                          </th>
                          <th>
                              Status
                          </th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let i of data">
                              
                              <td *ngIf="i.status === 'New-request'">{{i.id}}</td>
                              <td *ngIf="i.status === 'New-request'">                                  {{i["request-name"]}}
                            </td>
                            <td *ngIf="i.status === 'New-request'">{{i["approver-name"]}}</td>
                            <td *ngIf="i.status === 'New-request'">{{i.date}}</td>
                            <td *ngIf="i.status === 'New-request'">{{i["sla-duration"]}}</td>
                            <td *ngIf="i.status === 'New-request'">{{i["service-charge"]}}</td>
                             
                             
                          
                              <td *ngIf="i.status === 'New-request'"><span class="badge badge-info rounded-pill d-inline ">New request</span></td>
  
  
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </div>
  