<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Total number of request</p>
            <h3 class="card-title">49</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a href="javascript:void(0)">See more!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Cost Approved</p>
            <h3 class="card-title">34,245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a href="javascript:void(0)">See more!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Request Pending</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a href="javascript:void(0)">See more!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">List of On Hold requests</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>ID</th>
              <th>Request Name</th>
              <th>Approver Name</th>
              <th>Date</th>
              <th>SLA Duration</th>
              <th>Service Charge</th>
              <th>Status</th>
              <th>action</th>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td *ngIf="i.status === 'Completed'">{{ i.id }}</td>
                <td *ngIf="i.status === 'Completed'">
                  {{ i["request-name"] }}
                </td>
                <td *ngIf="i.status === 'Completed'">
                  {{ i["approver-name"] }}
                </td>
                <td *ngIf="i.status === 'Completed'">{{ i.date }}</td>
                <td *ngIf="i.status === 'Completed'">
                  {{ i["sla-duration"] }}
                </td>
                <td *ngIf="i.status === 'Completed'">
                  {{ i["service-charge"] }}
                </td>

                <td *ngIf="i.status === 'Completed'">
                  <span class="badge badge-success rounded-pill d-inline"
                    >Completed</span
                  >
                </td>

                <td *ngIf="i.status === 'Completed'">
                  <label class="dropdown">
                    <div class="dd-button">Action</div>

                    <input type="checkbox" class="dd-input" id="test" />

                    <ul class="dd-menu">
                      <li><a (click)="success()">Approve</a></li>
                      <li><a (click)="reject()">Reject</a></li>
                    </ul>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
