<div style="width:100%;display: flex;justify-content: space-around;">
    <div style="width: 60%;" class="main-content">
            <div class="jobDescriptionContainer">
                <div class="title">System Access</div>
                <div class="editTitleBtn">
                  <div class="form-job-btn"> 
                    <!-- <button class="editBtn">Submit</button> -->
                    <button type="button" class="btn btn-success btn-sm">Submit</button>
                  </div>
                </div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">Employee Name</div>
                <div class="descriptionTitle">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter Employee Name"
                  />
                </div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">Employee ID</div>
                <div class="descriptionTitle">
                    <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter Employee ID"
                  />
                </div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">System ID</div>
                <div class="descriptionTitle">
                    <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter System ID"
                  />
                </div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">System Name</div>
                <div class="descriptionTitle">
                    <!-- <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter System Name"
                  /> -->
                  <select class="form-control" id="inputGroupSelect01">
                    <option selected>Enter System Name</option>
                    <option value="1">SAP S4/HANA</option>
                    <option value="2">SAP SF</option>
                    <option value="3">SAP Ariba</option>
                  </select>
                </div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">Purpose</div>
                <div class="descriptionTitle">
                    <textarea
                    type="text"
                    rows="3"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter Purpose for access"
                    ></textarea>
                    <!-- <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter Purpose for access"
                  /> -->
                </div>
                <div class="marginRight"></div>
              </div>
            
              <!-- <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">Description</div>
                <div class="descriptionTitle">
                  The Customer Service Representative is respoonsible for interacting with
                  and prodviding quality assistance to all radical customers, responsible
                  for keepiong up-to-date on the various product shizzle; helping the
                  bidness reduce customer service wait times while doing a backhand spring
                  and eating a ham sandwich.
                </div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">HIRING LEAD</div>
                <div class="descriptionTitle">Michael Packard</div>
                <div class="marginRight"></div>
              </div>
            
              <div class="jobListItemContainer">
                <div class="marginLeft"></div>
                <div class="titleListItem">Title</div>
                <div class="descriptionTitle">$58,000</div>
                <div class="marginRight"></div>
              </div> -->
        </div>
      
    </div>
    
