
.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    width: 200px;
    padding-bottom: 10px;
    
  }

  .form-control::placeholder  {
    font-family: FontAwesome;
  }

 

  .service-catalogue-cont{
    margin-top: 6rem;
  }
  .swcc__logo{
    height: 2.5rem;
    width: 2.5rem;
}
.service__search{
  color: white;
}