<div class="card">
    <div class="card-header card-header-danger">
        <h2 class="card-title ">Service Catalogue</h2>
        <div class="search-hero sample" >
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Service Group">
          </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Service Group
                    </th>
                    <th>
                       Service
                    </th>
                    <th>
                       Service Code
                    </th>
                    <th>
                       Sub-service
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price (SAR)
                    </th>
                    <th>
                        Unit
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of heroes | filter:searchText">
                        <td>{{hero.serviceGroup}}</td>
                        <td>{{hero.service}}</td>
                        <td>{{hero.serviceCode}}</td>
                        <td>{{hero.subService}}</td>
                        <td>{{hero.description}}</td>
                        <td>{{hero.price}}</td>
                        <td>{{hero.unit}}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

