.jobDescriptionContainer {
    display:flex;
    height:48px;
    line-height:48px;
    background:
    #0066cd
    
    ;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
  }
  
  .title {
    width:200px;
    margin-left:20px;
    font-size:12px;
    font-weight:bold;
    color:#ffffff;
    text-transform:uppercase;
  }
  
  
  
  .descriptionTitle {
    flex:1;
    border-bottom:1px solid #eef2f5;
    font-size:12px;
    color:#444444;
    padding:20px 20px 20px 0px;
  
  }
  
  .jobListItemContainer {
    display:flex;
    /* height:48px;
    line-height:48px; */
    background:#ffffff;
  }
  
  .marginLeft {
    width:20px;
  }
  
   .titleListItem {
     padding:20px 20px 20px 0px;
     width:200px;
     border-bottom:1px solid #eef2f5;
     font-size:12px;
     font-weight:bold;
     color:#7a8aa0;
     text-transform: uppercase;
  }
  
  .editTitleBtn {
    flex:1;
    position:relative;
  }
  
  .editBtn {
    position:absolute;
    right:20px;
    top:13px;
    background:#2196f3;
    border:none;
    width:60px;
    height:22px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight:bold;
    border-radius:2px;
  }
  
  .marginRight {
    width:20px;
  }
  
  
  
  .editTitleBtn,.form-job-btn {
    display: flex;
    justify-content: end;
    height:auto;
    width: 59%;
  }
  