<div style="width:100%;display: flex;justify-content: space-around;">
  <div style="width: 60%;" class="main-content">
          <div class="jobDescriptionContainer">
              <div class="title">Job Vacancy</div>
              <div class="editTitleBtn">
                <div class="form-job-btn"> 
                  <!-- <button class="editBtn">Submit</button> -->
            <button type="button" class="btn btn-success btn-sm">Submit</button>
                  
                </div>
              </div>
            </div>
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">Designation</div>
              <div class="descriptionTitle">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Job Designation"
                />
              </div>
              <div class="marginRight"></div>
            </div>
          
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">Job Description</div>
              <div class="descriptionTitle">
                <textarea
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Job Description"
                ></textarea>
              </div>
              <div class="marginRight"></div>
            </div>
          
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">Department</div>
              <div class="descriptionTitle">
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Department"
                />
              </div>
              <div class="marginRight"></div>
            </div>
          
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">Location</div>
              <div class="descriptionTitle">
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Job location"
                />
              </div>
              <div class="marginRight"></div>
            </div>
          
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">YOE Required</div>
              <div class="descriptionTitle">
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter System Name"
                />
                <!-- <select class="form-control" id="inputGroupSelect01">
                  <option selected>Enter System Name</option>
                  <option value="1">SAP S4/HANA</option>
                  <option value="2">SAP SF</option>
                  <option value="3">SAP Ariba</option>
                </select> -->
              </div>
              <div class="marginRight"></div>
            </div>
          
            <div class="jobListItemContainer">
              <div class="marginLeft"></div>
              <div class="titleListItem">Salary</div>
              <div class="descriptionTitle">
                  <input
                  type="text"
                  rows="3"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Salary"
                  />
                  <!-- <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Purpose for access"
                /> -->
              </div>
              <div class="marginRight"></div>
            </div>

          
      </div>
    
  </div>
  