<div class="jobDescriptionContainer">
    <div class="title">Job Description</div>
      <div class="editTitleBtn">
          <div>
        <button class="editBtn">Edit</button>
      </div>
    </div>
  </div>
  
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Position Title</div>
    <div class="descriptionTitle"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the posistion title"></div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Location</div>
    <div class="descriptionTitle">Houston, TX</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Employment Type</div>
    <div class="descriptionTitle">full-time</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Experience</div>
    <div class="descriptionTitle">Mid-level</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">STATUS</div>
    <div class="descriptionTitle">Open</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Description</div>
    <div class="descriptionTitle">The Customer Service Representative is respoonsible for interacting with and prodviding quality assistance to all radical customers, responsible for keepiong up-to-date on the various product shizzle; helping the bidness reduce customer service wait times while doing a backhand spring and eating a ham sandwich.</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">HIRING LEAD</div>
    <div class="descriptionTitle">Michael Packard</div>
    <div class="marginRight"></div>
  </div>
  
  <div class="jobListItemContainer">
    <div class="marginLeft"></div>
    <div class="titleListItem">Title</div>
    <div class="descriptionTitle">$58,000</div>
    <div class="marginRight"></div>
  </div>